PORT = 5000

# Authentication settings
JWT_SECRET = "change_me_in_production"

# Email settings
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_SECURE = false
SMTP_USER = SFC_CTIP_PORTAL_EMAIL
SMTP_PASS = SFC_CTIP_PORTAL_EMAIL_APPPASSWORD
SMTP_FROM = "CTIP Training Portal <no-reply@sfc.gov.my>"
FRONTEND_URL = http://localhost:8081

# USER Profile Picture (PFP) settings
PFP_MAX_FILE_SIZE = 2097152
PFP_MAX_WIDTH = 512
PFP_MAX_HEIGHT = 512
