PORT = 5000

# HTTPS/TLS settings
HTTPS_ENABLED = true
HTTPS_KEY_PATH = certs/server.key
HTTPS_CERT_PATH = certs/server.crt
# HTTPS_CA_PATH = certs/ca-chain.pem
FORCE_HTTPS_REDIRECT = true

# Authentication settings
JWT_SECRET = "change_me_in_production"

# Email settings
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_SECURE = false
SMTP_USER = SFC_CTIP_PORTAL_EMAIL
SMTP_PASS = SFC_CTIP_PORTAL_EMAIL_APPPASSWORD
SMTP_FROM = "SFC Training Portal <no-reply@sfc.gov.my>"
FRONTEND_URL = https://localhost:8081

# USER Profile Picture (PFP) settings
PFP_MAX_FILE_SIZE = 2097152
PFP_MAX_WIDTH = 512
PFP_MAX_HEIGHT = 512
